server {
        listen 65058;
        location / {
        stub_status;
        allow 127.0.0.1;
        deny all;
        }
        location ~ ^/(status|ping)$ {
        access_log off;
        allow 127.0.0.1;
        deny all;
        include fastcgi_params;
        fastcgi_pass unix:/var/run/fpm/server-app.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }
        }