      *       soft    nofile  1000000
      *       hard    nofile  1000000
      *       soft    cpu     1000000
      *       hard    cpu     1000000
      *       soft    data    1000000
      *       hard    data    1000000